{% layout none %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ product.title }}</title>
</head>
<body>
    <main>
        <div class="product-item--simple">
            <div class="product-item--simple__img">
                {%
                    include 'image' with
                    img: product.featured_image,
                    sizing: '200'
                %}
            </div>
            <h5 class="product-item--simple__title">{{ product.title }}</h5>
            {% include 'product-prices' %}
            <a href="{{ product.url }}" class="product-item--simple__link"></a>
        </div>
    </main>
</body>
</html>