<section class="product__sidebar js-sidebar">
    <p class="title">Se også</p>
    <ul class="product__sidebar__wrapper js-output" data-product="{{ product.id }}" data-limit="2">
        <div class="loader js-loader">
            <i class="loader__item"></i>
            <i class="loader__item"></i>
            <i class="loader__item"></i>
        </div>
    </ul>
</section>