<section class="row row-recently-viewed recently-viewed container" data-component="recentlyViewed" data-product="{{ product.handle }}">
    <h4 class="_sectionTitle">Du har for nyligt set</h4>
    <ul class="js-output recently-viewed__wrapper">
        <div class="loader js-loader">
            <i class="loader__item"></i>
            <i class="loader__item"></i>
            <i class="loader__item"></i>
        </div>
    </ul>
</section>