<section class="recommended-products container js-recommended">
    <h2 class="_sectionTitle">Anbefalet til dig</h2>
    <ul class="recommended-products__wrapper js-output" data-product-id="{{ product.id }}" data-limit="4">
        <div class="loader js-loader">
            <i class="loader__item"></i>
            <i class="loader__item"></i>
            <i class="loader__item"></i>
        </div>
    </ul>
</section>